*{
    margin: 0;
    padding: 0;
}
 
body{
    background-color: blueviolet;
    /* padding-top: 60px; */
    
}

h1{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color: azure;
    
}

p{
    color: azure;
}

*{
    padding: 0;
    margin: 0;
}

#navbar{
    background-color: #0f1111;
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
}

#logo{
    color: orange;
    font-size: 25px;
}

a{
    color:azure;
    text-decoration: none;
    margin-right: 200px;
}

button
{
    background-color: yellow;
}

#chatbot{
    height: 80px;
    width:80px;
    background-color:violet;
    /* opacity: 0.85; */
    position: fixed;
    right: 20px;
    bottom: 50px;
    border-radius: 50% 50% 10% 50%;
    text-align: center;
}
