*{
    font-family: 'Courier New', Courier, monospace;
    /* margin:0;
    padding:0; */
    text-align: center;
    background-color: rgb(48, 2, 91);
}

h1{
    text-transform: capitalize;
    text-align: center;
    background-color: blueviolet;
    color: azure;
    border-radius: 30px;
    
}


p{
    text-align: center;
    line-height: 20px;
    background-color: blueviolet;
    color: azure;
    border-radius: 30px;
    
}

button{
    background-color: blueviolet;
    color: azure;
    border-radius: 30px;
    border: none;
}

div{
    margin-top: 30px;
    padding-top: 30px;
    /* text-align: center; */
    height: 50px;
    
    /* border: 2px dotted red; */
    background-color: blueviolet;
    color: azure;
    border-radius: 30px;

}
