*{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    /* text-align: center; */
    /* background-color: rgb(48, 2, 91); */
}




#header{
   height: 100px;
   width: 100%;
   border: 2px solid blue;
   opacity: 0.5;
}



#navbar{
    background-color: #0f1111;
    height: 100px;
}

#logo{
    color: orange;
    font-size: 25px;
}

a{
    color:azure;
    text-decoration: none;
    margin-right: 200px;
}

button
{
    background-color: yellow;
}
