*{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    /* text-align: center; */
    /* background-color: rgb(48, 2, 91); */
}




#header{
   height: 100px;
   width: 100%;
   /* border: 2px solid gray; */
   opacity: 0.75;
}
 
#content{
 height: 400px;
 width: 100%;
 /* border: 2px solid black; */
 background-color: black;
 opacity: 0.5;
}

#footer{
    height: 166px;
    width: 100%;
    /* border:2px solid #0f1111; */
    background-color: black;
    opacity: 0.25;
}




#navbar{
    background-color: #0f1111;
    height: 100px;
}

#logo{
    color: orange;
    font-size: 25px;
}

a{
    color:azure;
    text-decoration: none;
    margin-right: 200px;
}

button
{
    background-color: yellow;
}
