body{
    margin: 0;
    padding: 0;
}


.bg-img-lg{
    background-image: url('./images/home1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    filter: blur(3px);
}

.log-in-div-lg{
    height: 200px;
    width: 200px;
    background: none;
    border: 2px solid red;
    position: fixed;
    top:50%;
    left: 30%;

}